<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Pubg-Maps</title>
    <link rel="icon" type="image/png" href="/public/publicicon/favicon-96x96.png" sizes="96x96" loading="lazy" />
    <link rel="icon" type="image/svg+xml" href="/public/publicicon//favicon.svg" loading="lazy" />
    <link rel="shortcut icon" href="/public/publicicon//favicon.ico" loading="lazy" />
    <link rel="apple-touch-icon" sizes="180x180" href="/public/publicicon//apple-touch-icon.png" loading="lazy" />
    <link rel="manifest" href="/public/publicicon//site.webmanifest" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
    <div id="navbar-placeholder"></div>
    <main>
        <div class="map-page-wrapper">
            <div class="map-page-container">
                <div id="sidebar-controls-placeholder"></div>
                <div id="map-display-placeholder"></div>
            </div>
        </div>
    </main>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9771164480459392"
     crossorigin="anonymous"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/sidebar-controls.js"></script>
    <script src="/js/map-display.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>
