<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Pubg-Maps</title>
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="preload" id="map-image-preload" as="image" />
</head>
<body>
    <div id="navbar-placeholder"></div>
    <main>
        <div class="map-page-wrapper">
            <div class="map-page-container">
                <div id="sidebar-controls-placeholder"></div>
                <div id="map-display-placeholder"></div>
            </div>
        </div>
    </main>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9771164480459392"
     crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/sidebar-controls.js"></script>
    <script src="/js/map-display.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>